
table, th, td {
      /* border: 1px solid black;
      border-collapse: collapse; */
}
th, td {
      padding: 5px;
}

td.kiri{
    width: 360px;
    background-color: gray;
}

div.foto{
    text-align: center;
}

.text-putih{
    color: white;
}

td.bio1{
    width: 40%;
}

.bg-biru{
    background-color: deepskyblue;
}

td.kanan{
    vertical-align: text-top;;
}